/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Bungee';
body{
  margin:0;
  padding:0;
  background-color: #0F4D84;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), transparent 1px, transparent 10000px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 10000px),
  linear-gradient(60deg,rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 180px 305px;
}

*{
  font-family: "bungee",sans-serif;
  font-style: normal;
}
