<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h1 id="titre">Clash Royale</h1>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="https://vignette.wikia.nocookie.net/clashroyale/images/4/41/Team_Battle_Icon.png" alt="" style="width: 50px;">
    </button>
  </nav>
</div>
